
UNDERGRADUATE DEGREE REQUIREMENTS


GRADUATION REQUIREMENTS

The requirements for graduation at Chapman are commensurate with the school’s liberal arts philosophy. The program of studies is
designed to ensure a breadth of subject matter in the liberal arts as well as a depth in the preparation in the major field. A
student’s curriculum includes preparatory courses, the General Education program, major requirements and free electives:

 * A minimum of 120 credits in addition to any necessary preparatory skill credits.
 * A minimum of 42 credits earned in upper-division coursework.
 * A minimum of 48 credits earned at Chapman, 30 of which must be upper-division, with 15 of those 30 upper-division credits in
   the student’s major.
 * Completion of all general education requirements
 * A maximum of 24 credits transferred after matriculation.
 * A 2.000 Chapman cumulative GPA and a 2.000 cumulative GPA for all work leading to the degree, including transfer work.
 * A 2.000 GPA for all major coursework and all upper-division major coursework.
 * Resolution of all “NR”, “I”, “IT” and “SP” notations.
 * For a Bachelor of Arts Degree, a minimum of 60 credits outside of the discipline of the major.

All transfer credit applied toward the degree must be evaluated and approved by the Office of the University Registrar. In
addition, transfer work going toward the student’s major may require departmental approval. No transfer work with grades earned
below “C-” will be accepted toward meeting graduation requirements, but all earned grades will be counted in the student’s overall
cumulative grade-point average.

Once students are enrolled at Chapman University, it is strongly recommended that, prior to taking courses elsewhere, students
check the online transfer articulation database to determine whether the courses are transferable to Chapman University. Students
should check with the Office of the University Registrar if they have any questions regarding whether a course at another
institution will transfer to Chapman.

Students transferring courses after matriculation also need to check that they are not exceeding credit load limits for the
semester.


LIMITATION OF CREDIT

The number of credits allowed toward any baccalaureate degree may be limited by the following:

 * A maximum of 32 credits may be earned in passing courses by examination.
 * The maximum number of credits acceptable from two-year colleges is 70.
 * A total of not more than 15 credits of baccalaureate-level correspondence, extension or continuing education courses may be
   accepted. Of these 15 credits, no more than six credits may apply toward general education credit and no more than six credits
   may apply toward the major. General education courses must be approved by the Office of the University Registrar and major
   courses must be approved by the department chair.
 * A maximum of 4 credits in physical activity courses and 12 credits in applied dramatic art, dance performance and music
   ensembles will be counted toward the baccalaureate degree with the following exceptions: dance minors, B.A. in Dance major and
   members of athletic teams may take up to 12 credits in physical activity courses toward their baccalaureate degrees. B.F.A. in
   Dance majors may take up to 22 credits of physical activity courses, which includes dance technique, toward their degree.
   Credit taken beyond the limit will not be counted towards the minimum 120 credit requirement.
 * A maximum of 12 credits of internship may count toward the baccalaureate degree. Independent internship courses may be taken
   P/NP only.
 * Credits from institutions of collegiate level that are not regionally accredited are not accepted in transfer.
 * No more than 27 credits taken at Chapman in non-matriculated status may be applied toward a bachelor’s degree. Students who
   have not been admitted by the time they have completed 27 credits in a non-matriculated status will not be allowed to register
   for additional courses. (See “Classification”)
 * No more than 32 credits will be awarded for dual credit (college work taken while concurrently enrolled in high school or GED
   program), including Advanced Placement and International Baccalaureate credit.


MATHEMATICS PREPARATORY SKILLS REQUIREMENT

Chapman University requires all students to satisfy a basic mathematics preparatory skills requirement within a student’s first
two semesters at Chapman University. Meeting any one of the following criteria will satisfy the mathematics preparatory skills
requirement.

 * Passing score on Chapman’s algebra placement test
 * Score of 570 or higher on the mathematics portion of the SAT for tests taken March 2016 or later, or a score of 540 or higher
   for tests taken prior to March 2016
 * Score of 23 or higher on the mathematics subscore of the ACT
 * Passing grade in MATH 99, taken at Chapman University
 * Passing grade in a qualifying transfer course completed before the student’s first day of classes at Chapman. Students should
   check with the University Registrar at Chapman to verify if a particular transfer course meets this requirement.

Any admitted student who has not met the requirement by test score or by qualifying transfer course must register for either MATH
98 or MATH 99. Once a student begins taking classes at Chapman University, a student must complete this requirement in residence
at Chapman. Students placed into MATH 98 must complete MATH 99 the following term. MATH 98 and MATH 99 re Pass/No Pass
courses. Students may not drop MATH 98 or MATH 99 without the permission of the University Registrar.

Students who do not make progress in completing the mathematics preparatory skills requirement by the end of their first year of
attendance may be subject to credit limitation at the discretion of the Undergraduate Academic Council, which oversees student
progress for this requirement.

Mathematics preparatory skills credits do not count toward the 120 credits required for graduation.


GENERAL EDUCATION PROGRAM

Please note that the titles for the General Education (GE) categories will be changing during this academic year. New category
titles are shown in parenthesis following the old title. Both titles will be used in 2019/20.

Students may share credits between General Education requirements and degree requirements in the following ways:

 * Up to nine credits from the degree program or major with GE Shared Inquiry (Liberal Arts and Sciences Focus) and Global Citizen
   (Global Focus) courses. Courses offered in the major’s primary discipline are included in this limit even if they are not being
   used in the major.
 * Up to six credits from a minor. Courses in the minor’s primary discipline are included in this limit even if they are not being
   used in the minor.
 * Additional majors and minors are held to the same sharing restrictions as those listed above.

Students may not share courses in the Inter/Multidisciplinary Cluster (Themed Inquiry) with their major or major discipline, or
with other GE requirements.


SHARED INQUIRY (LIBERAL ARTS AND SCIENCES FOCUS) COURSES (18-19 CREDITS)

Courses in the Shared Inquiry (Liberal Arts and Sciences Focus) categories are distinguished primarily by inquiry approaches
rather than individual disciplinary areas. They engage students in both active learning and reflective thought, emphasizing
critical inquiry in major liberal arts areas. All students take courses that have a primary focus in the following areas of
inquiry:

 * Artistic Inquiry (3 credits): Students compose critical or creative works that embody or analyze conceptually an artistic form
   at a baccalaureate/pre-professional level.
 * Natural Science Inquiry (Natural Sciences Inquiry) (3-4 credits): Students engage in scientific investigation to explore the
   knowledge produced by scientific processes.
 * Quantitative Inquiry (3 credits): Students use quantitative methods to help analyze problems in particular academic or social
   contexts; develop in-depth arguments supported by quantitative evidence; and communicate those arguments in both verbal form
   and quantitative displays (e.g., tables, graphs, mathematical equations or other relevant format).
 * Social Inquiry (3 credits): Students explore processes by which human beings develop social and/or historical perspectives.
 * Values and Ethical Inquiry (3 credits): Students articulate how values and ethics inform human understanding, structures and
   behavior.
 * Written Inquiry (3 credits): Student establishes active, genuine, and responsible authorial engagement; communicate a purpose-
   an argument or other intentional point/goal; invokes a specific audience, develops the argument/ content with an internal
   logic-organization; integrates references, citations, and source materially logically and dialogically, indicating how such
   forms of evidence relate to each other and the author’s position; and composes the text with: a style or styles appropriate to
   the purpose and intended audience, a consistent use of the diction appropriate to the author’s topic and purpose, the ability
   to establish and vary authorial voices(s) and tone(s), a choice of form(s) and genre(s) appropriate to purpose and audience
   (forms may be digital and/or multimodal), and rhetorically effective use of document design.


FIRST-YEAR FOCUS (3 CREDITS) (NEW)

 * First-year Foundation Course (FFC) (3 credits): In FFC, the student critically analyzes and communicates complex issues and
   ideas. FFC courses focus on critical engagement, exploration and communication related to complex issues rather than on
   mastering a body of material. The First-year Foundations course is required of all new students beginning their first year of
   academic enrollment at Chapman. The requirement is waived for students who have completed in 24 or more credits from another
   institution of higher education prior to matriculation. Dual credit (AP, IB or college-level coursework) completed while in
   high school is not included; the 24 transferable credits must follow the completion of secondary school.


GLOBAL CITIZEN CLUSTER (GLOBAL FOCUS) (12 CREDITS)

 * Global Study (Global Studies Inquiry) (6 credits): Students connect contemporary social and/ or environmental topics to their
   origins and analyze their effects on our increasingly globalized world. Students may choose 2 courses from a pre-approved list.
    Interterm or summer international travel courses (usually 3 credits) may be used towards completion of this requirement.
    Students may choose to spend a semester abroad, which fulfills this category in lieu of coursework. Study abroad for a
   semester or an international travel course are strongly recommended
 * Citizenship, Community, and Service (Citizenship, Community, Service Inquiry) (3 credits): Students select a learning
   experience that focuses on citizenship, community or service and study the theoretical and applied aspects of political, civic
   or social engagement in group affiliations. This can be accomplished by taking an approved course or engaging in
   service-learning experience under the advisement of a faculty member, which is registered for 3 credits as an internship or
   individual study.
 * Language Study (Language Inquiry) (3 credits): Students complete part of their general education program in a language other
   than English. This may be accomplished through a language course at or above the 200-level [third semester proficiency], a
   course taught in the language of documented functional language use. Students are expected to start satisfying this requirement
   at the beginning of their sophomore year at the latest.


INTER/MULTIDISCIPLINARY CLUSTER (EXPLORATION FOCUS) (MINIMUM OF 12 CREDITS)

The goal of this requirement is to explore an area of study outside a student’s major.  An Inter/Multidisciplinary Cluster (Themed
Inquiry), second major, minor or completion of the University Honors Program fulfills this requirement. Students must declare an
Inter/Multidisciplinary Cluster (Themed Inquiry), second major, minor, or enroll in the University Honors Program prior to
completing 60 credits. Students who complete 60 credits and do not have one of the above will be assigned a registration hold.


 * INTER/MULTIDISCIPLINARY CLUSTER (THEMED INQUIRY) (12 CREDITS)
   
   * Exploring an area of interest from an interdisciplinary or multidisciplinary focus, students complete 4 related courses
     selected from a pre-approved list of topics that are outside of the student’s designated program or major. At least 2 courses
     in the inter/multidisciplinary cluster (themed inquiry) must be upper-division. No course in the student’s major discipline,
     even if not used in the major, can be used to satisfy the inter/multidisciplinary cluster (themed inquiry) requirements, even
     if the course is not being used to satisfy major requirements.
   
   * Transfer students who bring in 30 or more credits prior to matriculation at Chapman may not use any of these courses to
     satisfy Inter/Multidisciplinary Cluster (Themed Inquiry) requirements, since they are given a waiver of courses in this
     category based on credit completion (See GE Transfer in Academic Policies and Procedures).


MAJORS AND MINORS


MAJORS

Credits and specific courses are determined by academic units (departments, schools or colleges). Major requirements are located
within department/college/school listings. Students must follow the General Education and major requirements of the same catalog
year.

A minimum of 21 credits of upper-division coursework in the major are required as well as a minimum of 2.000 average on a 4.000
scale in the major overall and in upper-division coursework.

A lower-division course accepted as a substitution or equivalent to an upper-division course does not count toward the 21-credit
of upper division coursework requirement.


DECLARATION OF A MAJOR

An undergraduate student must declare a major prior to completing 60 credits. Students who complete 60 credits and have not
declared a major will be assigned a registration hold. Some majors require a separate application process prior to acceptance.


DECLARATION OF A MINOR, SECOND MAJOR, OR INTER/MULTIDISCIPLINARY CLUSTER (THEMED INQUIRY)

When declaring a minor, second major and/or second minor, students should be aware that certain combinations are not allowed due
to significant overlap in course requirements. The Office of the Provost determines the acceptability of these combinations. The
Office of the University Registrar will review all requests before making changes to students’ academic programs and notify
students if their requested combination is not allowed.

Students declaring an inter/multidisciplinary cluster (themed inquiry) may not use any courses in their major or in the discipline
of their major, even if those courses are not required or used in the major, to complete the inter/multidisciplinary cluster
(themed inquiry).

Students must declare an inter/multidisciplinary cluster (themed inquiry), minor or second major prior to completing 60 credits.
Students who complete 60 credits and have not declared an inter/multidisciplinary cluster, minor or second major will be assigned
a registration hold.


SELF-DESIGNED MAJOR

 * A student in good standing may design their own major in consultation with a faculty advisor. The subject matter must be
   substantially different from that offered in existing majors. The student designs a program from existing course offerings that
   opens up a new direction of study or allows for significantly more intensive study in a subject matter than is otherwise
   possible.
 * A self-designed major allows for significantly more intensive study in a subject matter than would be otherwise possible and is
   substantially different from that offered in existing majors; i.e., it must be a program drawing on existing course offerings
   which opens up a new direction of study that spans across existing majors.
 * The self-designed major is not intended to allow all students to simply “redesign” existing majors to suit their personal
   preferences or schedules. Accordingly, a self-designed major must contain courses that significantly cross different
   disciplines, with no more than 40 percent of the requirements of the self-designed major’s courses coming from any single
   discipline.
   * Self-designed majors in languages are exempt from the 40 percent requirement.
   * Self-designed majors that include courses from the Argyros School of Business and Economics cannot be comprised of more than
     40 percent total of any courses within that school.
 * A student must submit a proposal prior to completing 75 credits.
 * A student must meet a minimum cumulative GPA requirement of 2.000 and be in good academic standing.
 * A maximum of two courses (up to eight credits) may be taken elsewhere if they are not offered at Chapman University.
 * Self-designed majors must meet the same requirements that recognized majors in similar disciplines are held to (e.g., capstone
   projects, coursework in research methods; see catalog for more details on disciplinary requirements).
 * Self-designed majors must be sponsored by an academic department and guided through ongoing mentorship with a faculty advisor.
   This advisor is responsible for helping to design the major, as well as for overseeing the student’s progress toward completion
   of the major courses.
 * All coursework listed in the self-designed major must be approved by the chair/unit head of the unit offering the course,
   ensuring that the course will be offered and available to the student.
 * College requirements as to the appropriate number of upper-division and in residence requirements must be met for the catalog
   year under which the student is enrolled, with a university-wide minimum of 33 credits total (30 for languages and language
   studies), 21 of which are upper division.
 * Language courses numbered 101, 102 and 201 may not be included in a proposal for language or language studies.
 * A maximum of six credits of Individual Study (399 or 499) credit may be included in the self-designed major. Individual Studies
   must be given a title.
 * Majors: If the self-designed major is a second major, it must be in a discipline outside of the primary major and have a
   minimum of 18 unique credits in each major.
 * Minors: If the student is completing a minor, it must be in a discipline outside of the new self-designed major of study and
   have 12 unique credits that do not duplicate the self-designed major.
 * Approval of a faculty advisor, a sponsoring department and the Undergraduate Academic Council is needed.
 * Guidelines for a self-designed major are included with the required petition form found on the Registrar’s Forms webpage.


DUAL MAJOR WITH THE SAME DEGREE

 * Completion of all requirements for both majors (such as political science and French) is required.
 * Each major must have 18 unique credits.
 * Only one diploma will be awarded showing the majors completed within the same degree at the time of graduation.


DUAL BACHELOR’S DEGREE (TWO DIFFERENT DEGREES)

 * Dual degrees (such as a B.A. and B.S.) may be pursued concurrently; diplomas will be awarded concurrently.
 * Completion of all requirements for both degrees.
 * Both degrees will be in the same catalog year.
 * Students will be held to the General Education requirements for one degree.
 * Each major must have 18 unique credits.


SECOND MAJOR WITH THE SAME DEGREE

Once a degree has been conferred:

 * A student must apply for readmission to seek a minor or a second major in the same degree. However, if a student has not broken
   enrollment (see “Interrupted Enrollment” in Undergraduate
   Admission) the student need not apply for readmission. A second diploma will not be issued.
 * Each major must have 18 unique credits.


SECOND BACHELOR’S DEGREE WITH FIRST DEGREE EARNED AT CHAPMAN

Once a degree has been conferred:

 * A student must apply for readmission to seek a second bachelor’s degree, a second major or a minor. However, if a student has
   not broken enrollment (see “Interrupted Enrollment” in
   Undergraduate Admission) the student need not apply for readmission.
 * A program evaluation by the Office of the University Registrar should be requested before beginning the program.
 * Students will not be held to the General Education requirements of the second degree.
 * Each major must have 18 unique credits.


SECOND BACHELOR’S DEGREE WITH FIRST DEGREE NOT EARNED AT CHAPMAN

 * A student must apply for admission and meet all standard admission requirements.
 * A student must meet standard degree credit, residency, upper-division and major requirements.
 * General Education requirements will be waived for all areas other than the foreign language requirement if the first degree was
   completed from a regionally accredited institution.
 * Each major must have 18 unique credits.


MINORS (OPTIONAL)

 * The minor must be in a discipline outside of the student’s major.
 * A student may minor in any approved area of study outside of his/her major as long as there are 12 unique credits in the minor
   that cannot be duplicated in the major through core or elective choices.
 * For students with an interdisciplinary major, the designated discipline is the department in which the greatest number of
   upper-division credits are used in the major.
 * A minimum of 21 credits, 12 of which may not be duplicated by the major or any other minor.
 * A minimum of 12 upper-division credits. (Check the particular minor of interest.) A lower-division course accepted as a
   substitution or equivalent to an upper-division course does not count toward this requirement.
 * A minimum of six upper-division credits completed in residence.
 * A 2.000 cumulative GPA and 2.000 GPA for all upper-division coursework.
 * May be completed only in those departments listing specific minor requirements. (See department listings.)


SELF-DESIGNED MINOR

 * The minor must be in a discipline outside of the student’s major.
 * Its subject matter is substantially different from that offered in existing minors: i.e., it must be a program drawing on
   existing course offerings that opens up a new direction of study or allows for significantly more intensive study in a subject
   matter than is otherwise possible.
 * The self-designed minor is not intended to allow students to simply “redesign” existing minors to suit their personal
   preferences or schedules. Accordingly, a self-designed minor must not contain more than 40 percent of the requirements of an
   existing minor, and it may not include more than 2 courses (up to 8 credits) not offered by Chapman University.
 * A student must submit a self-designed minor proposal prior to completing 75 credits.
 * Self-designed minors must also meet the same requirements that recognize minors are held to (see Minors, above).
 * The program of study must include a minimum of 21 credits, at least 12 of which must be upper-division credits. A maximum of 6
   credits of individual study may be included in the self-designed minor.
 * A self-designed minor must have 12 unique credits that are not duplicated in any major or other minor.
 * College requirements as to the appropriate number of upper-division and in residence requirements must be met for the catalog
   year under which the student is enrolled.
 * Self-designed minors must be sponsored by an academic department. A student seeking to design such a minor must locate a
   faculty member in the department he or she things is most appropriate for sponsorship of the minor to serve as their unit
   advisor. This advisor is responsible for helping to design the minor, as well as for overseeing the student’s work.
 * All coursework listed in the self-designed minor must be approved by the chair/unit head of the unit offering the course,
   ensuring that the course will be offered and available to the student.
 * Self-designed minor proposals are submitted to the Office of the University Registrar and reviewed by the General Education
   Committee for approval.
 * Guidelines for a self-designed minor are included with the required petition form found on the Registrar’s Forms webpage.


CHANGE OF MAJOR/MINOR FORM

Adding or changing a major requires an approval signature by department chair of the new major. Dropping a major does not require
an approval signature. Approval signatures must be on the form submitted to the Office of the University Registrar. Some majors
require a separate application process prior to acceptance. Some minors require approval signature of the department chair, as
notated on the form.

Forms are accepted and processed by the Office of the University Registrar throughout the year except during registration periods
in November and April. Any Change of Major/Minor form submitted later than one week prior to the first day of scheduled
registration appointments in November or April will not be processed until the conclusion of the two-week registration appointment
period. The following changes to student academic records will not be made during the registration appointment period:

 * Change of existing major or minor program.
 * Addition of a major or minor program.
 * Change of a declared area of study.
 * Change of a declared emphasis.
 * Change of a declared concentration.
 * Addition of or change to Inter/Multidisciplinary cluster (Themed Inquiry).
